<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bluetootcontacttrace">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- If your app targets Android 9 or lower, you can declareACCESS_COARSE_LOCATION instead. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    <uses-permission android:name="android.permission.BIND_JOB_SERVICE"/>-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluetootContactTrace" >
        <service android:permission="android.permission.BIND_JOB_SERVICE"
            android:name=".App">
        </service>


        <activity android:name="activity.HalamanOtomatis">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.MainActivity" />
        <activity android:name=".DaftarMahasiswaActivity" />
        <activity android:name="activity.TambahDataMahasiswaActivity" />
        <activity android:name="activity.UpdateDataMahasiswaActivity" />

        <service android:name="foregroundservice.ExampleService"/>


        <!--        <service-->
        <!--            android:name="NeverEnding.SensorService2"-->
        <!--            android:enabled="true" >-->
        <!--        </service>-->

<!--        <service android:name="JobService.SimpleJobIntentService"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            tools:ignore="MissingClass" />-->

        <!--        <receiver-->
        <!--            android:name="NeverEnding.SensorRestarterBroadcastReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:label="RestartServiceWhenStopped">-->
        <!--        </receiver>-->

    </application>

</manifest>